.bottombarButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: #282828;
    font-size: 0.4rem;
  }
  
  .bottombarButtonsTop {
    width: 100%;
    color: #999;
    display: flex;
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-between;
  }

  .bottombarSettingsButton {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
  }