@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

.main_container {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 66px;
    background-color: #e8e8e8;
    /* border: 2px solid red; */
    border-radius: 10px;
    padding: 5px;
}

.text_container {
    width: 100%;
    border-radius: 10px;
    /* border: 1px solid blue; */
    flex: 2;
    padding: 2.5px;
    margin-left: 2px;
    /* margin-top: 7px;
    margin-left: 7px;
    padding: 7px; */
        
} 

.text_container_text {
    color: #909090;
    font-family: Kumbh Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    background-size: cover;
    fill: rgb(216, 216, 216);
}

.icon_container {
    display: flex; /* this bottom icon container is in itself a flexbox oriented horizontally */
    flex: 0.25;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid purple; */
}

/* "0/12888" text takes up 6/9 of the width, while each icon takes up 1/9 of the width */
.bottom_icon_positioning {
  flex: 1;
  text-align: center;
  padding: 0px;
   /* border: 1px solid #ccc;  */
}

.tokens_remaining {
  flex: 8;
  color: #909090;
  text-align: left;
  font-family: Kumbh Sans;
  font-size: 8px;
  padding: 2.5px;
  margin-left: 2px;
}
