.mainContentContainer {
  width: 100%;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 80%;
  overflow: auto;
}

.mainContentContainer::-webkit-scrollbar {
  width: 0px;
}

.variantContainer {
  padding: 10px 0px;
  border: 2px solid #a5bcf6;
}

.compareButton {
  display: block;
  margin: auto;
  width: 75px;
  border-radius: 20px;
  background-color: #1a3059;
  border: none;
  color: white;
  padding: 0.5rem 0;
  text-decoration: none;
  font-size: 0.6rem;
  font-family: Kumbh Sans;
  cursor: pointer;
}

.userText {
  color: white;
  text-align: right;
  font-size: 0.70rem;
  padding-right: 0.25rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  font-family: Kumbh Sans;
}

.modelText {
  color: #a5bcf6;
  text-align: left;
  font-size: 0.70rem;
  padding-left: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: Kumbh Sans;
}

/* components/LoadingComponent.module.css */

.gradient-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4285f4, #db4437);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: flex;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  position: relative;
  display: flex;
  flex-direction: horizontal;
}

.dot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #4285f4, #db4437);
  border-radius: 50%;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.dot:nth-child(1) {
  animation: bounce 0.4s infinite alternate 0.1s;
}

.dot:nth-child(2) {
  animation: bounce 0.4s infinite alternate 0.2s;
}

.dot:nth-child(3) {
  animation: bounce 0.4s infinite alternate 0.3s;
}
