@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap");

.bottom_bar_container {
  flex-grow: 0;
  width: 100%;
  padding: 5px;
  background: #282828;
  box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: horizontal;
}

.input_container {
  padding: 3%;
  width: 83%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  padding: 5px;
}

.text_put_container {
  display: flex;
  width: 100%;
}

.text_container_text {
  flex: 0.8;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: Kumbh Sans;
  height: auto;
  font-size: 12px;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: top;
  margin: 5px 8px;
  word-wrap: break-word;
  resize: none;
  border: none;
}

.text_container_text:focus {
  outline: none;
}
.text_container_text::placeholder {
  color: #c1c1c1;
}
.text_container_text::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 8px;
}
.text_container_text::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
  cursor: default;
}
.text_container_text::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.icon {
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
  background-size: cover;
  fill: rgb(216, 216, 216);
  cursor: pointer;
}

.icon_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.bottom_icon_positioning {
  /* flex: 1; */
  text-align: center;
  padding: 0px 5px;
}

.file_preview_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.file_preview {
  position: relative;
  margin: 4px;
  overflow: hidden; /* Ensures the image doesn't overflow its container */
  width: 50px;
  height: 50px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}

.delete_file_button {
  position: absolute;
  height: 10px;
  width: 10px;
  top: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.delete_file_button img {
  margin: 0;
}

.file_preview_img {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 4px;
}

/* RUN BUTTON AREA STYLES */

.runButtonContainer {
  width: 17%;
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #282828;
  font-size: 0.4rem;
  /* width: 100%; */
}
