.promptItemContainer {
  display: flex;
  flex-direction: horizontal;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #DCDCDC;
}


.promptItem {
    flex: 0.875;
    padding: 5%;
    padding-left: 4%;
    padding-right: 10%;
    border: none;
    border-radius: 0px;
    background-color: transparent;
    /* border-bottom: 1px solid #DCDCDC; */
    /* background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M1%2011.6064L11.6066%200.999844%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3Cpath%20d%3D%22M1%201L11.6066%2011.6066%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3C/svg%3E%20");
    background-repeat: no-repeat; */
    /* background-position: calc(100% - 10px) center;  */
    /* background-size: 14px 14px; */
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    font-weight: 100 !important; 
    height: auto;
    resize: none;

  }  

  .promptItem:focus {
    outline: none; /* Remove the default focus outline */
    border-color: transparent; /* Highlight border on focus, change the color as needed */
    background-color: transparent; /* Change background to white on focus */
  }
  
  .promptTextArea{
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    font-weight: 100 !important; 
    resize: none;
    border: none;
    background-color: transparent;
    width: 100%;
    height: auto; /* Set a fixed height for one line */
    overflow: hidden;
    padding: none;
    margin: none;
  }
  
  .promptTextArea:focus {
    outline: none; /* Remove the default focus outline */
    border-color: transparent; /* Highlight border on focus, change the color as needed */
    background-color: transparent; /* Change background to white on focus */
  }

.delete_prompt_button {
    flex: 0.125;
    position: center;
    height: auto;
    width: auto;
    top: 2px;
    right: 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

