@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;500;900&display=swap');

.sideBarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 80%;
  z-index: 1;
  position: absolute;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: #282828;
  left: 0;
}


.menuBarContainer {
  margin-top: 15%;
  display: flex;
  flex-direction: horizontal;
  width: 100%;
  justify-content: center;
  align-items: top;
}

.menuBarItem {
  padding-left: 0%;
  flex: 1;
  height: 100%;
  text-align: center;
}

.menuBarText {
  padding-left: 20%;
  padding-right: 20%;
  color: #D9D9D9;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 17px;
  font-weight: 900; 
}

.closeMenuButton {
  border: none;
  background-color: transparent;
  cursor: pointer; 
}

.newPromptButtonContainer {
  margin-top: 5%;
  margin-bottom: 8%;
  width: 100%;
  height: 3%;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
}

.newPromptButton {
  background-color: #1A3059;
  justify-content: center;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 900; 
  border-radius: 7px;
  border: none;
  width: 35%;
  height: 100%;
  cursor: pointer;
}

.currentPromptContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8%;
}

.pastPromptContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 8%;
}

.promptHeaderText {
  color: white;
  justify-content: center;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 900; 
  flex: 1;
  margin-bottom: 5%;
}

.promptItem {
  flex: 1;
  padding: 3%;
  padding-left: 5%;
  padding-right: 10%;
  border-bottom: 1px solid #DCDCDC;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M1%2011.6064L11.6066%200.999844%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3Cpath%20d%3D%22M1%201L11.6066%2011.6066%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3C/svg%3E%20");
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center; 
  background-size: 14px 14px;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 100 !important; 
  height: 3%;

}  

.promptTextArea{
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 100 !important; 
  resize: none;
  border: none;
  background-color: transparent;
  width: 100%;
  height: auto; /* Set a fixed height for one line */
  overflow: hidden;
  padding: none;
  margin: none;
}

.promptTextArea:focus {
  outline: none; /* Remove the default focus outline */
  border-color: transparent; /* Highlight border on focus, change the color as needed */
  background-color: transparent; /* Change background to white on focus */
}


.icon {
  width: 10px;
  height: 10px;
}