.sideBarContainer {
  display: flex;
  flex-direction: column;
  border: 2px solid green;
  height: 100%;
  width: 70%;
  z-index: 1;
  position: absolute;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  background-color: gray;
  left: 0;
}

.historyButton {
  position: absolute;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  left: 20px;
  top: 20px;
}

.menuBarContainer {
  margin-top: 50px;
  border: 2px solid red;
  display: flex;
  flex-direction: horizontal;
  width: 50px;
  height: 100px;
}

.menuBarItem {
  margin-top: 10%;
  border: 2;
  flex: 1;
  border: 1px solid purple;
  height: 100%;
}

.currentPromptContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pastPromptContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.promptItem {
  flex: 1;
  border: 1px solid gray;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%20%3Cpath%20d%3D%22M1%2011.6064L11.6066%200.999844%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3Cpath%20d%3D%22M1%201L11.6066%2011.6066%22%20stroke%3D%22%23D9D9D9%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22/%3E%20%3C/svg%3E%20");
  background-repeat: no-repeat;
  background-position: right center;
}
